.city-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

.MuiCardContent-root .min-max-temp {
    font-size: 14px;
}

.MuiCardContent-root .description {
    font-weight: 400;
    margin-bottom: 10px;
}

.MuiSvgIcon-root.favorite-city {
    color: goldenrod;
}

.MuiPaper-root.city-card {
    margin: 0 auto;
    cursor: pointer;
}

@media screen and (max-width: 599px) {
    .MuiPaper-root.city-card {
        max-width: 100%;
    }
}